* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


.bng-navbar {
     position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 1100px;

    background: #ffffff;
    border-radius: 50px;
    padding: 12px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);

    z-index: 1000;
}

.bng-navbar div { 
    display: flex;                /* Coloca os elementos lado a lado */ 
    align-items: center;          /* Alinha-os verticalmente ao centro */ 
    gap: 10px;
}

.bng-navbar img {
    width: 35px;
}

.bng-navbar h3 {
    font-weight: 700;
    color: #00a7f3;
    font-size: 22px;
}

/* Links */
.container-navegacao {
    display: flex;
    gap: 25px;
}

.container-navegacao a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 16px;
}

.container-navegacao a:hover {
    color:#00a7f3;
    font-weight: 600;
}

/* Scroll bar inferior */
.scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #006390;
    transition: width 0.2s ease;
}



/* Secção do Problema*/
.container-texto-generico {
    padding: 80px 90px 0px 80px;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.seccao-objetivo {
    background: #e0f9ff;
}

.objetivo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.objetivo-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.objetivo-texto h1 {
    font-size: 36px;
    color: #0d1d21;
    margin-bottom: 20px;
}

.objetivo-texto p {
    color: #000000;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 16px;
}

.problemas-box {
    margin-top: 30px;
    background: #006390;
    padding: 15px 20px 2px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

.problemas-box p {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

.problemas-box i {
    margin-right: 10px;
}

.objetivo-imagem {
    width: 40%;
    text-align: right;
}

.objetivo-imagem img {
    max-width: 100%;
    display: block;
    
}



/* Secção Solução */
.seccao-solucao {
    padding: 80px 60px;
    background: #ffffff;
    text-align: center;
}

/* Título */
.seccao-solucao h2 {
    font-size: 32px;
    color: #122a31;
    margin-bottom: 10px;
}

.subtitulo {
    color: #000000;
    margin-bottom: 50px;
    font-size: 20px;
}

/* Cartões */
.solucao-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    color: #e0e0e0;
}

.cartao-solucao {
    background: #006390;
    padding: 25px;
    border-radius: 20px;
    width: 260px;
    text-align: center;
    transition: 0.3s;
}

.cartao-solucao:hover {
    transform: translateY(-8px);
}

.cartao-solucao h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.cartao-solucao p {
    font-size: 15px;
    margin-bottom: 5px;
}

.cartao-solucao i {
    padding: 10px;
}



/* Secção Vantagens */
.seccao-vantagens {
    padding: 80px 60px;
    background: #e0f9ff;
    text-align: center;
}

/* Título */
.secao-vantagens h2 {
    font-size: 32px;
    color: #122a31;
    margin-bottom: 10px;
}

.subtitulo {
    color: #777;
    margin-bottom: 50px;
    font-size: 20px;
}

/*Cartões*/
.vantagens-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.caixa-vantagens {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 25px #00000068;
}

.caixa-vantagens h3 {
    color: #006390;
    margin-bottom: 15px;
    text-align: center;
}

.caixa-vantagens p {
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
}

.caixa-vantagens p.areas {
    text-align: center;
}

.caixa-vantagens i{
    padding: 5px;
}
