* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


.bng-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 1100px;

    background: #ffffff;
    border-radius: 50px;
    padding: 12px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;   /* impede que os blocos saltem */

    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);

    z-index: 1000;
}

.bng-navbar div { 
    display: flex;                /* Coloca os elementos lado a lado */ 
    align-items: center;          /* Alinha-os verticalmente ao centro */ 
    gap: 10px;
}

.bng-navbar img {
    width: 35px;
}

.bng-navbar h3 {
    font-weight: 700;
    color: #00a7f3;
    font-size: 22px;
}

/* Links */
.container-navegacao {
    display: flex;
    gap: 25px;
    white-space: nowrap; /* impede quebra dos links */
}

.container-navegacao a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 16px;
}

.container-navegacao a:hover {
    color:#00a7f3;
    font-weight: 600;
}

.nav-cliente {
    flex-shrink: 0;  /* impede o botão de encolher */
}

.nav-cliente a { 
    color:#006390;             /* Cor do texto */ 
    text-decoration: none;      /* Remove sublinhado */ 
    font-size: 16px;           /* Tamanho da fonte */ 
    font-weight: 500;
    padding: 4px 15px;
    border: 1.5px solid #00a7f3;
    border-radius: 50px;
    white-space: nowrap;
}

.nav-cliente a:hover {
    font-weight: 600;
}

/* Scroll bar inferior */
.scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #006390;
    transition: width 0.2s ease;
}



/* Secção do Objetivo*/
.container-texto-generico {
    padding-top: 80px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.seccao-objetivo {
    background:url("../img/secção_objetivo.jpeg");
    background-size: cover;     /* ocupa toda a secção */
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 80px 0px;
}

.objetivo-content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.objetivo-texto {
    width: 70%;
}

.objetivo-texto h1 {
    font-size: 36px;
    color: #0d1d21;
    margin-bottom: 20px;
}

.objetivo-texto p {
    color: #000000;
    margin-bottom: 18px;
    line-height: 1.6;
    font-size: 17px;
}

.button-saber-mais {
    display: inline-block;

    margin-top: 40px;
    padding: 10px 25px;

    background-color: #00a7f3;
    color: white;

    text-decoration: none;
    font-weight: 500;
    font-size: 16px;

    border-radius: 40px;
}

.button-saber-mais:hover {
    font-weight: 600;
}



/* Secção Solução */
.seccao-solucao {
    padding: 80px 20px;
    text-align: center;
}

/* Título */
.seccao-solucao h2 {
    font-size: 32px;
    color: #122a31;
    margin-bottom: 10px;
}

.subtitulo {
    color: #000000;
    margin-bottom: 50px;
    font-size: 20px;
}

/* Cartões */
.solucao-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    color: #e0e0e0;
}

.cartao-solucao {
    background: #006390;
    padding: 25px;
    border-radius: 20px;
    width: 260px;
    text-align: center;
    transition: transform 0.3s ease;
}

.cartao-solucao:hover {
    transform: translateY(-8px);
}

.cartao-solucao h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.cartao-solucao p {
    font-size: 15px;
    margin-bottom: 5px;
}

.cartao-solucao i {
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
}



/* Secção Vantagens */
.seccao-vantagens {
    padding: 80px 60px;
    background: #e0f9ff;
    text-align: center;
}

/* Título */
.secao-vantagens h2 {
    font-size: 32px;
    color: #122a31;
    margin-bottom: 10px;
}

.subtitulo {
    color: #777;
    margin-bottom: 50px;
    font-size: 20px;
}

/*Cartões*/
.vantagens-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.caixa-vantagens {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 25px #00000068;
}

.caixa-vantagens h3 {
    color: #006390;
    margin-bottom: 15px;
    text-align: center;
}

.caixa-vantagens p {
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
}

.caixa-vantagens p.areas {
    text-align: center;
}

.caixa-vantagens i{
    padding: 5px;
}



/* Secção Contacto*/
#contacto {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contacto h2 {
    font-size: 32px;
    color: #0d1d21;
    margin-bottom: 10px;
}

#contacto p {
    color: #555;
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 600px;
}

#contacto form {
    width: 100%;
    max-width: 500px;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

#contacto label {
    font-size: 14px;
    font-weight: 600;
    color: #0d1d21;
}

#contacto input, #contacto textarea { 
    padding: 6px;                /* Espaço interno (dentro do campo) */ 
    margin-bottom: 10px;          /* Espaço abaixo de cada campo */ 
    border: 1px solid #dddddd;       /* Borda cinzenta clara */ 
    border-radius: 5px;           /* Bordas arredondadas */ 
}

#contacto button { 
    margin-top: 10px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background: #00a7f3;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#contacto form button:hover {
   font-weight: 600;
}