/* Estilo da Área Private */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Titillium Web',sans-serif;
}

body{
    background:#f5f7fa;
}


/* NAVBAR */
.navbar-medctrl{
    background:#ffffff;
    padding:15px 30px;
    box-shadow:0 2px 15px rgba(0,0,0,0.08);
}

.navbar-medctrl h3{
    color:#00a7f3;
    font-weight:700;
}


/* BOTÃO UTILIZADOR */
.btn-user{
    background:#006390;
    color:white;
    border:none;
}

.btn-user:hover{
    background:#00a7f3;
    color:white;
}


/* SIDEBAR */
.sidebar{
    background:#006390;
    min-height:100vh;
    padding:25px;
}

.sidebar h4{
    color:white;
    margin-bottom:25px;
}

.sidebar a{
    display:block;
    text-decoration:none;
    color:white;
    padding:10px;
    margin-bottom:5px;
    border-radius:10px;
    transition:.3s;
}

.sidebar a:hover{
    background:#00a7f3;
}

.sidebar i{
    margin-right:2px;
}


/* CONTEÚDO */
main h2{
    font-weight:700;
    color:#122a31;
}

.pagina-inicial{
    text-align:center;
    margin-top:100px;
}

.pagina-inicial h2{
    color:#122a31;
    font-weight:700;
    margin-bottom:20px;
}

.pagina-inicial p{
    color:#666;
    font-size:18px;
}

.icone-centro{
    margin-top:40px;
}

.icone-centro i{
    font-size:100px;
    color:#00a7f3;
    opacity:0.3;
}

